<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <link rel="stylesheet" href="{% static 'polls/bulma.min.css' %}">
    {% block stylesheets %}{% endblock %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    {% block no_navbar %}<nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'polls:index' %}">
            <h1 class="subtitle">Polls App</h1>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{% url 'polls:index' %}">
            Home
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
              {% if not user.is_authenticated %}
            <div class="buttons">
              <a class="button is-primary" href="{% url 'accounts:register' %}">
                <strong>Sign up</strong>
              </a>
                  <a class="button is-light" href="{% url 'accounts:login' %}">
                    Sign in
                  </a>
            </div>
              {% endif %}
          </div>
            {% if user.is_authenticated %}
                <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                <i class="fa fa-user"></i>&nbsp;{{ user.username }}
            </a>

            <div class="navbar-dropdown">
             <a class="navbar-item" href="{% url 'accounts:logout' %}">
                Sign out
              </a>
            </div>
          </div>
        </div>
            {% endif %}
        </div>
      </div>
    </nav>{% endblock %}
    {% block body %}<section class="section"><div class="container">{% block content %}{% endblock %}</div></section>{% endblock %}
    <footer class="footer">
        <div class="content has-text-centered">
            <p>2019 | Made with ❤️ by <a href="https://github.com/th-bunratta/django-polls">Tharathorn Bunrattanasathian</a></p>
            <p><a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." /></a>
            &nbsp;<a href="https://bulma.io"><img src="{% static 'polls/img/made-with-bulma.png' %}" alt="Made with Bulma" width="128" height="24"></a></p>
        </div>
    </footer>
</body>
</html>