[run]
# measure branch coverage
branch = True
# don't measure python standard library (this is the default)
cover_pylib = False
# omit uninteresting stuff
omit =
    venv/*
    /usr/*
    django_polls/*   # the main application dir contains only configuration
    info/*     # the info app is just for testing
    polls/test/*
    polls/migrations/*

# explicitly include the main apps
include =
    polls/*.py